stages:
  - build
  - deploy

variables:
  IMAGE: "$CI_REGISTRY_IMAGE/api:$CI_COMMIT_SHORT_SHA"

.default_docker:
  image: docker:24.0.7
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY

build-stage:
  stage: build
  tags:
    - k8s
  image: docker:27
  services:
    - name: docker:27-dind
      command: ["--tls=false"]
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

  extends: .default_docker
  script:
    - docker build -t "$IMAGE" .
    - docker push "$IMAGE"
  only:
    - main


deploy:
  stage: deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache git bash curl sed
  script:
    - |
      export IMAGE="$CI_REGISTRY_IMAGE/api:$CI_COMMIT_SHORT_SHA"

      # Set Git identity
      git config --global user.email "ci@mycompany.com"
      git config --global user.name "CI Bot"

      # Clone the GitOps manifests repo
      git clone "https://root:${CI_PASSWORD}@gitlab.sananetco.com/root/manifest01.git"
      cd manifest01
      git checkout main
      git pull origin main

      # Replace image line
      echo "Replacing image line with: image: $IMAGE"
      sed -i "s|image:.*|image: \"$IMAGE\"|" manifests/deployment.yaml

      # Commit & push changes
      git add manifests/deployment.yaml
      git commit -m "Deploy $CI_COMMIT_SHORT_SHA [skip ci]" || echo "No changes to commit"
      git push origin main
  only:
    - main
  tags:
    - k8s
